<section class="formcarry-container">
    <form action="https://formcarry.com/s/5rrRUap3AC3" method="POST" enctype="multipart/form-data" name="contactForm" id="contactForm">
        <div id="explications"></div>

        <div class="formcarry-block">
            <label for="fc-generated-1-name">Nom</label>
            <input type="text" name="name" id="fc-generated-1-name" placeholder="Votre nom" required/>
        </div>

        <div class="formcarry-block">
            <label for="fc-generated-1-email">Email</label>
            <input type="email" name="email" id="fc-generated-1-email" placeholder="votre-email@xyz.fr" required/>
        </div>

        <div class="formcarry-block">
            <label for="fc-generated-1-message">Message</label>
            <textarea name="message" id="fc-generated-1-message" placeholder="Ecrivez votre message ..." required></textarea>
            <input type="hidden" name="_gotcha" id="_gotcha" />
            <input type="hidden" name="objet" id="objet" />
            <input type="hidden" name="numero_photo" id="numero_photo" />
        </div>

        <div class="formcarry-block">
            <button type="submit" id="submitBtn">Envoyer</button>
            <div id="inlineError" class="error-inline" role="alert" aria-live="assertive"></div>
        </div>

    </form>

    <div id="successBox" class="success-box" role="status" aria-live="polite" tabindex="-1">
        Votre message a bien été envoyé. Merci !
    </div>
</section>