<footer class="site-footer">
    <div class="footer-center">
        <a href="index.html">Galerie</a>
        <a href="contact.html">Contact</a>
        <a href="mentions-legales.html">Mentions légales</a>
        <a href="politique-confidentialite.html">Politique de confidentialité</a>
        <!-- Tu peux ajouter d'autres liens ici -->
    </div>

    <div class="footer-right">
        <span>&copy; 2025 Peltier</span>
        <a href="https://github.com/peltiern/galerie-saint-michel" target="_blank" rel="noopener noreferrer" title="Voir le projet sur GitHub">
            <img src="img/github-mark-white.svg" alt="GitHub" class="github-icon">
        </a>
    </div>
</footer>

